@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #111;
}

section{
  position: relative;
  padding: 100px;
  
}

.preload {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #77b3d4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease 3s; // Last value '3s' sets delay. Otherwise the animation fades out to fast...
  
}

h3 {
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
    color: white;
    font-size: 40px;
    font-family: sans-serif;
  text-align: center;
  }

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.plane {
  width: 50%;
  height: 50%;
  animation: airplane 1s ease infinite alternate;
}

@media (max-width: 600px){
  h3{
    font-size: 20px;
  }
}

.cloud1,
.cloud2,
.cloud3 {
  height: 100px;
  position: absolute;
  z-index: -1;
}

.cloud1 {
  top: 25%;
  transform: translate(100%, -25%);
  animation: clouds 13s ease infinite;
}

.cloud2 {
  top: 50%;
  transform: translate(100%, -50%);
  animation: clouds 20s ease infinite;
}

.cloud3 {
  top: 75%;
  transform: translate(100%, -75%);
  animation: clouds 16s ease infinite;
}

@keyframes airplane {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}

@keyframes clouds {
  from {
    right: 0%;
  }
  to {
    right: 130%;
  }
}


.header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000;
  
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.header .logo{
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
}

.text-foto-source {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  
}

/* The dots/bullets/indicators */
.dot {
  display: none;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


.banner{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.banner:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to top,#111,transparent);
}

.banner .content{
  position: relative;
  max-width: 900px;
  text-align: center;
  z-index: 1;
}

.banner .content  h2{
  color: #fff;
  font-size: 5em;
  
}

.banner .content p{
  color: #fff;
  font-size: 1.2em;
}

.btn{
  position: relative;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  background: #fff;
  text-decoration: none;
}

.fitBg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.about{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .contentBx{
  min-width: 50%;
  width: 50%;
  text-align: end;
  padding-right: 40px;
}

.titleText{
  font-weight: 600;
  color: #fff;
  font-size: 2em;
  margin-bottom: 10px;
}

.text-section-about{
  color: #fff;
  font-size: 1em;
}

.about .imgBx{
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
}

.banner2,
.banner3
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner2:before,
.banner3:before
{
   content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to top,#111,transparent);
}

.banner2:after,
.banner3:after
{
   content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to bottom,#111,transparent);
}

.destination{
  text-align: center;
}


.destination .content{
  text-align: center;
}

.destination .destinationList{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.destination .destinationList .box{
  position: relative;
  min-width: 350px;
  height: 480px;
  background: #191919;
  transition: 0.5s;
  margin: 10px;
}

.destination .destinationList:hover .box{
  opacity: 0.2;
}

.destination .destinationList .box:hover{
  opacity: 1;
}

.destination .destinationList .box .imgBx{
  position: relative;
  width: 100%;
  height: 400px;
}

.destination .destinationList .box .content{
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.destination .destinationList .box .content h2{
  color: #fff;
  font-weight: 500;
  line-height: 2.5em;
}

.destination .destinationList .box .content h2 span{
  font-size: 0.8em;
  font-weight: 300;
  opacity: 0.5;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer .sci{
  position: relative;
  display: flex;
}

.footer .sci li{
  list-style: none;
}

.footer .sci li .copyright{
  text-decoration: none;
  margin: 0 20px;
}

.footer .sci  li  .copyright {
  filter: invert(1);
  max-width: 40px;
}

.copyrightText{
margin-top: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  color: #666;
  text-align: center;
  padding-top: 35px;
}

.copyrightText .copyright{
  color: #fff;
}

@media (max-width: 767px){
  section{
    padding: 40px;
  }
  
  .banner .content h2{
    font-size: 2.5em;
  }
  
  .banner .content p{
    font-size: 1em;
  }
  
  .about{
    
    flex-direction: column;
  }
  
  .about .contentBx,
  .about .imgBx
  {
    min-width: 100%;
    width: 100%;
    text-align: center;
    padding-right: 0px;
  }
  
  .about .imgBx
  {
     min-height: 250px;
  }
  
  .btn{
    margin-bottom: 30px;
  }
  
  .destination .destinationList  .box{
    position: relative;
    max-width: 350px;
    min-width: initial;
    width: 350px;
    height: 400px;
  }
  
  .destination .destinationList  .box .imgBx{
    height: 320px;
  }
}

.a-images{
  text-decoration: none;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100000;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


 





















